body {
    width: 300px;
    height: 500px;
    background: #281954;
    background-image: url("../images/background.png");
    background-size: cover;
    overflow: hidden;
    color: #fff;
    margin: 0;
}

h1 {
    margin: 0;
    padding: 0.8rem 0;
    color: #8e8d8d;
    font-weight: 400;
}

.text-center {
    text-align: center;
}

.text-right {
    text-align: right;
}

.text-left {
    text-align: left;
}

button, button:visited {
    background: #e34822;
    padding: 0.5rem 1.2rem;
    border: 0;
    border-radius: 5rem;
    color: #fff;
    font-weight: 600;
    transition: all 0.5s;
}

button:hover, button:active {
    background: #f1866c;
}

button.secondary, button.secondary:visited {
    background: #3b235e;
    transition: all 0.5s;
}

button.secondary:hover, button.secondary:active {
    background: #7d58b3;
}

button.go, button.go:visited {
    background: #00ba0e;
}

button.go:hover, button.go:active {
    background: #7eb982;
}

button.grouped {
    width: 12rem;
}

.text-button {
    background: none;
    font-weight: 500;
    padding: 0;
    color: #b173f0;
    cursor: pointer;
}

.text-button:hover {
    text-decoration: underline;
}

.row {
    padding-bottom: 1rem;
    width: 70%;
    margin: 0 auto;
}

#logo {
    padding: 3rem;
    width: 9rem;
    padding-bottom: 2rem;
}

input {
    padding: 0.5rem;
    width: 11.9rem;
}

select {
    background: #fff;
    padding: 0.5rem;
    width: 13.1rem;
    margin-bottom: 1rem;
    border: 0;
}

.warning {
    color: #b173f0;
    margin-bottom: 0.2rem;
    display: block;
}

@-webkit-keyframes hat_move {
    0% {
        top: 0;
    }
    50% {
        top: 1.3rem;
    }
    100% {
        top: 0;
    }
}

@-moz-keyframes hat_move {
    0% {
        top: 0.4;
    }
    50% {
        top: 1.3rem;
    }
    100% {
        top: 0.4;
    }
}

@-o-keyframes hat_move {
    0% {
        top: 0.4;
    }
    50% {
        top: 1.3rem;
    }
    100% {
        top: 0.4;
    }
}

@keyframes hat_move {
    0% {
        top: 0.4;
    }
    50% {
        top: 1.3rem;
    }
    100% {
        top: 0.4;
    }
}

#leprechaun #hat {
    background-image: url(../images/hat.svg);
    background-size: cover;
    width: 12.4rem;
    height: 7.2rem;
    display: inline-block;
    position: relative;
    top: 1rem;
    -webkit-animation: hat_move 3s infinite;
    /* Safari 4+ */
    -moz-animation: hat_move 3s infinite;
    /* Fx 5+ */
    -o-animation: hat_move 3s infinite;
    /* Opera 12+ */
    animation: hat_move 3s infinite;
    /* IE 10+, Fx 29+ */
}

#leprechaun {
    position: relative;
    padding-top: 3.4rem;
}

#leprechaun #head {
    background-image: url(../images/head.svg);
    background-size: cover;
    width: 8.4rem;
    height: 9.6rem;
    display: inline-block;
}


@-webkit-keyframes eyes_move {
    0% {
        left: 5rem;
    }
    25% {   
        left: 4.6rem;
    }
    50% {
        left: 5rem;
    }
    75% {
        left: 5.4rem;
    }
    100% {
        left: 5rem;
    }
}

@-moz-keyframes eyes_move {
    0% {
        left: 5rem;
    }
    25% {   
        left: 4.6rem;
    }
    50% {
        left: 5rem;
    }
    75% {
        left: 5.4rem;
    }
    100% {
        left: 5rem;
    }
}

@-o-keyframes eyes_move {
    0% {
        left: 5rem;
    }
    25% {   
        left: 4.6rem;
    }
    50% {
        left: 5rem;
    }
    75% {
        left: 5.4rem;
    }
    100% {
        left: 5rem;
    }
}

@keyframes eyes_move {
    0% {
        left: 5rem;
    }
    25% {   
        left: 4.6rem;
    }
    50% {
        left: 5rem;
    }
    75% {
        left: 5.4rem;
    }
    100% {
        left: 5rem;
    }
}

#leprechaun #eyes {
    background-image: url(../images/eyes.svg);
    background-size: cover;
    width: 3.4rem;
    height: 1.3rem;
    display: inline-block;
    position: absolute;
    left: 5rem;
    top: 12.5rem;
    -webkit-animation: eyes_move 3s infinite;
    /* Safari 4+ */
    -moz-animation: eyes_move 3s infinite;
    /* Fx 5+ */
    -o-animation: eyes_move 3s infinite;
    /* Opera 12+ */
    animation: eyes_move 3s infinite;
    /* IE 10+, Fx 29+ */
}

#leprechaun_loading svg {
    width: 1.2rem;
    margin: 0.2rem;
    height: 2.2rem;
}

.clover {
    display: inline-block;
}

.clover path {
    fill: #afafaf;
}

@-webkit-keyframes clover1_move {
    0% {
        fill: #afafaf;
    }
    10% {
        fill: #afafaf;
    }
    20% {
        fill: #8CC63F;
    }
    90% {
        fill: #8CC63F;
    }
    100% {
        fill: #afafaf;
    }
}

@-moz-keyframes clover1_move {
    0% {
        fill: #afafaf;
    }
    10% {
        fill: #afafaf;
    }
    20% {
        fill: #8CC63F;
    }
    90% {
        fill: #8CC63F;
    }
    100% {
        fill: #afafaf;
    }
}

@-o-keyframes clover1_move {
    0% {
        fill: #afafaf;
    }
    10% {
        fill: #afafaf;
    }
    20% {
        fill: #8CC63F;
    }
    90% {
        fill: #8CC63F;
    }
    100% {
        fill: #afafaf;
    }
}

@keyframes clover1_move {
    0% {
        fill: #afafaf;
    }
    10% {
        fill: #afafaf;
    }
    20% {
        fill: #8CC63F;
    }
    90% {
        fill: #8CC63F;
    }
    100% {
        fill: #afafaf;
    }
}

#clover1 path {
    -webkit-animation: clover1_move 3s infinite;
    /* Safari 4+ */
    -moz-animation: clover1_move 3s infinite;
    /* Fx 5+ */
    -o-animation: clover1_move 3s infinite;
    /* Opera 12+ */
    animation: clover1_move 3s infinite;
}

@-webkit-keyframes clover2_move {
    0% {
        fill: #afafaf;
    }
    20% {
        fill: #afafaf;
    }
    30% {
        fill: #8CC63F;
    }
    90% {
        fill: #8CC63F;
    }
    100% {
        fill: #afafaf;
    }
}

@-moz-keyframes clover2_move {
    0% {
        fill: #afafaf;
    }
    20% {
        fill: #afafaf;
    }
    30% {
        fill: #8CC63F;
    }
    90% {
        fill: #8CC63F;
    }
    100% {
        fill: #afafaf;
    }
}

@-o-keyframes clover2_move {
    0% {
        fill: #afafaf;
    }
    20% {
        fill: #afafaf;
    }
    30% {
        fill: #8CC63F;
    }
    90% {
        fill: #8CC63F;
    }
    100% {
        fill: #afafaf;
    }
}

@keyframes clover2_move {
    0% {
        fill: #afafaf;
    }
    20% {
        fill: #afafaf;
    }
    30% {
        fill: #8CC63F;
    }
    90% {
        fill: #8CC63F;
    }
    100% {
        fill: #afafaf;
    }
}

#clover2 path {
    -webkit-animation: clover2_move 3s infinite;
    /* Safari 4+ */
    -moz-animation: clover2_move 3s infinite;
    /* Fx 5+ */
    -o-animation: clover2_move 3s infinite;
    /* Opera 12+ */
    animation: clover2_move 3s infinite;
}

@-webkit-keyframes clover3_move {
    0% {
        fill: #afafaf;
    }
    30% {
        fill: #afafaf;
    }
    40% {
        fill: #8CC63F;
    }
    90% {
        fill: #8CC63F;
    }
    100% {
        fill: #afafaf;
    }
}

@-moz-keyframes clover3_move {
    0% {
        fill: #afafaf;
    }
    30% {
        fill: #afafaf;
    }
    40% {
        fill: #8CC63F;
    }
    90% {
        fill: #8CC63F;
    }
    100% {
        fill: #afafaf;
    }
}

@-o-keyframes clover3_move {
    0% {
        fill: #afafaf;
    }
    30% {
        fill: #afafaf;
    }
    40% {
        fill: #8CC63F;
    }
    90% {
        fill: #8CC63F;
    }
    100% {
        fill: #afafaf;
    }
}

@keyframes clover3_move {
    0% {
        fill: #afafaf;
    }
    30% {
        fill: #afafaf;
    }
    40% {
        fill: #8CC63F;
    }
    90% {
        fill: #8CC63F;
    }
    100% {
        fill: #afafaf;
    }
}

#clover3 path {
    -webkit-animation: clover3_move 3s infinite;
    /* Safari 4+ */
    -moz-animation: clover3_move 3s infinite;
    /* Fx 5+ */
    -o-animation: clover3_move 3s infinite;
    /* Opera 12+ */
    animation: clover3_move 3s infinite;
}

@-webkit-keyframes clover4_move {
    0% {
        fill: #afafaf;
    }
    40% {
        fill: #afafaf;
    }
    50% {
        fill: #8CC63F;
    }
    90% {
        fill: #8CC63F;
    }
    100% {
        fill: #afafaf;
    }
}

@-moz-keyframes clover4_move {
    0% {
        fill: #afafaf;
    }
    40% {
        fill: #afafaf;
    }
    50% {
        fill: #8CC63F;
    }
    90% {
        fill: #8CC63F;
    }
    100% {
        fill: #afafaf;
    }
}

@-o-keyframes clover4_move {
    0% {
        fill: #afafaf;
    }
    40% {
        fill: #afafaf;
    }
    50% {
        fill: #8CC63F;
    }
    90% {
        fill: #8CC63F;
    }
    100% {
        fill: #afafaf;
    }
}

@keyframes clover4_move {
    0% {
        fill: #afafaf;
    }
    40% {
        fill: #afafaf;
    }
    50% {
        fill: #8CC63F;
    }
    90% {
        fill: #8CC63F;
    }
    100% {
        fill: #afafaf;
    }
}

#clover4 path {
    -webkit-animation: clover4_move 3s infinite;
    /* Safari 4+ */
    -moz-animation: clover4_move 3s infinite;
    /* Fx 5+ */
    -o-animation: clover4_move 3s infinite;
    /* Opera 12+ */
    animation: clover4_move 3s infinite;
}

@-webkit-keyframes clover5_move {
    0% {
        fill: #afafaf;
    }
    50% {
        fill: #afafaf;
    }
    60% {
        fill: #8CC63F;
    }
    90% {
        fill: #8CC63F;
    }
    100% {
        fill: #afafaf;
    }
}

@-moz-keyframes clover5_move {
    0% {
        fill: #afafaf;
    }
    50% {
        fill: #afafaf;
    }
    60% {
        fill: #8CC63F;
    }
    90% {
        fill: #8CC63F;
    }
    100% {
        fill: #afafaf;
    }
}

@-o-keyframes clover5_move {
    0% {
        fill: #afafaf;
    }
    50% {
        fill: #afafaf;
    }
    60% {
        fill: #8CC63F;
    }
    90% {
        fill: #8CC63F;
    }
    100% {
        fill: #afafaf;
    }
}

@keyframes clover5_move {
    0% {
        fill: #afafaf;
    }
    50% {
        fill: #afafaf;
    }
    60% {
        fill: #8CC63F;
    }
    90% {
        fill: #8CC63F;
    }
    100% {
        fill: #afafaf;
    }
}

#clover5 path {
    -webkit-animation: clover5_move 3s infinite;
    /* Safari 4+ */
    -moz-animation: clover5_move 3s infinite;
    /* Fx 5+ */
    -o-animation: clover5_move 3s infinite;
    /* Opera 12+ */
    animation: clover5_move 3s infinite;
}

@-webkit-keyframes clover6_move {
    0% {
        fill: #afafaf;
    }
    60% {
        fill: #afafaf;
    }
    70% {
        fill: #8CC63F;
    }
    90% {
        fill: #8CC63F;
    }
    100% {
        fill: #afafaf;
    }
}

@-moz-keyframes clover6_move {
    0% {
        fill: #afafaf;
    }
    60% {
        fill: #afafaf;
    }
    70% {
        fill: #8CC63F;
    }
    90% {
        fill: #8CC63F;
    }
    100% {
        fill: #afafaf;
    }
}

@-o-keyframes clover6_move {
    0% {
        fill: #afafaf;
    }
    60% {
        fill: #afafaf;
    }
    70% {
        fill: #8CC63F;
    }
    90% {
        fill: #8CC63F;
    }
    100% {
        fill: #afafaf;
    }
}

@keyframes clover6_move {
    0% {
        fill: #afafaf;
    }
    60% {
        fill: #afafaf;
    }
    70% {
        fill: #8CC63F;
    }
    90% {
        fill: #8CC63F;
    }
    100% {
        fill: #afafaf;
    }
}

#clover6 path {
    -webkit-animation: clover6_move 3s infinite;
    /* Safari 4+ */
    -moz-animation: clover6_move 3s infinite;
    /* Fx 5+ */
    -o-animation: clover6_move 3s infinite;
    /* Opera 12+ */
    animation: clover6_move 3s infinite;
}

@-webkit-keyframes clover7_move {
    0% {
        fill: #afafaf;
    }
    70% {
        fill: #afafaf;
    }
    80% {
        fill: #8CC63F;
    }
    90% {
        fill: #8CC63F;
    }
    100% {
        fill: #afafaf;
    }
}

@-moz-keyframes clover7_move {
    0% {
        fill: #afafaf;
    }
    70% {
        fill: #afafaf;
    }
    80% {
        fill: #8CC63F;
    }
    90% {
        fill: #8CC63F;
    }
    100% {
        fill: #afafaf;
    }
}

@-o-keyframes clover7_move {
    0% {
        fill: #afafaf;
    }
    70% {
        fill: #afafaf;
    }
    80% {
        fill: #8CC63F;
    }
    90% {
        fill: #8CC63F;
    }
    100% {
        fill: #afafaf;
    }
}

@keyframes clover7_move {
    0% {
        fill: #afafaf;
    }
    70% {
        fill: #afafaf;
    }
    80% {
        fill: #8CC63F;
    }
    90% {
        fill: #8CC63F;
    }
    100% {
        fill: #afafaf;
    }
}

#clover7 path {
    -webkit-animation: clover7_move 3s infinite;
    /* Safari 4+ */
    -moz-animation: clover7_move 3s infinite;
    /* Fx 5+ */
    -o-animation: clover7_move 3s infinite;
    /* Opera 12+ */
    animation: clover7_move 3s infinite;
}

#logo_dash {
    display: inline-block;
    width: 6.6rem;
}

#balance {
    display: inline-block;
    float: right;
}

#balance span {
    display: block;
}

#balance .balances {
    width: 8rem;
    display: inline-block;
}

#balance .assets {
    width: 2rem;
    display: inline-block;
}

#balance .balances .gg {
    font-size: 1.2rem;
}

#balance .balances .usd {
    font-size: 0.8rem;
}

#balance .assets .gg {
    font-size: 1rem;
}

#balance .assets .usd {
    font-size: 0.8rem;
}

#balance .usd {
    color: #b5b5b5;
}

nav {
    padding: 1rem 0.6rem;
}

#profile {
    background: #fff;
    padding: 2rem 0;
}

#name {
    color: #727272;
    font-size: 1.4rem;
}

#username {
    color: #e34822;
    font-size: 1.4rem;
}

#game_pick .pick {
    margin-top: 3rem;
}

#game_pick .pick.active {
    width: 5rem
}

#game_pick .description {
    margin-top: 0.6rem;
}

.menu_btn {
    width: 2rem;
    margin: 0.8rem 3.2rem;
    display: inline-block;
    opacity: 0.4;
    cursor: pointer;
}

.menu_btn img {
    width: 100%;
}

.menu_btn:hover {
    opacity: 0.8;
}

.menu_btn.active {
    opacity: 0.8;
}

#footer_menu {
    border-top: solid 1px #6742a4;
    margin-top: 1.4rem;
}

#footer_menu .name {
    margin-top: 0.2rem;
    color: #fff;
}

.white_bg {
    background: #fff;
    position: absolute;
    top: 4.4rem;
    bottom: 0;
    left: -1px;
    width: 100%;
    background-image: url("../images/background_lottery.png");
}

.black_bg {
    background: #333;
    position: absolute;
    top: 4.4rem;
    bottom: 0;
    width: 100%;
    background-image: url("../images/background_lottery_black.png");
}

.black_bg h1 {
    color: #d2d2d2;
}

#my_lottery_room_list {
    width: 12rem;
    margin: 0 auto;
    background: #fff;
    height: 0;
    overflow-y: auto;
    transition: all 0.5s;
    transition-delay: 0s;
}

#lottery_room_list {
    width: 12rem;
    margin: 0 auto;
    background: #fff;
    height: 0;
    overflow-y: auto;
    transition: all 0.5s;
    transition-delay: 0s;
}

#lottery_room_list button {
    padding: 0.2rem 0.6rem;
    border-radius: 1rem;
    font-size: 0.6rem;
    position: absolute;
    right: 0.6rem;
    top: 0.2rem;
}

#lottery_room_list .room {
    position: relative;
    padding: 0.4rem 0.8rem;
    color: #6f6f6f;
}

#join_lottery_rooms #join_lottery_room {
    transition-delay: 0.5s;
}

#join_lottery_rooms:hover #join_lottery_room {
    border-radius: 0.6rem;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    transition-delay: 0s;
}

#join_lottery_rooms:hover #lottery_room_list {
    height: 12.8rem;
    transition-delay: 0.3s;
}


#my_lottery_rooms #join_lottery_room {
    transition-delay: 0.5s;
}

#my_lottery_rooms:hover #my_lottery_room {
    border-radius: 0.6rem;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    transition-delay: 0s;
}

#my_lottery_rooms:hover #my_lottery_room_list {
    height: 12.8rem;
    transition-delay: 0.3s;
}

#back-div {
    position: absolute;
    left: 1.5rem;
    bottom: 1rem;
    cursor: pointer;
}

#back-div img {
    width: 2rem;
}

#lottery_room_creation {
    height: 0;
    overflow-y: hidden;
    transition: all 0.5s;
    transition-delay: 0s;
}

#lottery_room_creation input {
    background: #e5e3e3;
    border: 1px solid #C0C0C0;
    border-radius: 0.2rem;
    margin-bottom: 0.6rem;
    width: 10rem;
}

#lottery_room_creation .notice {
    color: #969796;
    font-size: 0.6rem;
    text-align: center;
    margin-bottom: 0.6rem;
}

#lottery_room_creation #bet {
    color: #969796;
    text-align: center;
    position: relative;
    padding-left: 1rem;
}

#lottery_room_creation #bet input {
    padding-left: 2rem;
    width: 3rem !important;
    display: inline-block;
    margin: 0 1rem;
}

#lottery_room_creation #bet img {
    width: 1rem;
    position: absolute;
    right: 5.4rem;
    top: 0.5rem;
}

#create_lottery_rooms:hover #lottery_room_creation {
    height: 11.4rem;
    transition-delay: 0.3s;
    padding-top: 1.4rem;
}

#create_lottery_rooms:hover #create_lottery_room {
    border-radius: 0.6rem;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    transition-delay: 0s;
}

#lottery_room_creation button {
    padding: 0.4rem 1rem;
    border-radius: 1rem;
    font-size: 0.8rem;
    margin-top: 0.8rem;
}

#room_name {
    background: #00ba0e;
    padding: 0.3rem 0.4rem;
    width: 10rem;
    margin: 0 auto;
    border-radius: 1rem;
    font-size: 0.8rem;
}

#room_info {
    font-size: 0.8rem;
    padding: 1rem 0 1.2rem;
    margin-top: 1.4rem;
    margin-bottom: 2rem;
    background: #545454; /* Old browsers */
    background: -moz-linear-gradient(top, #545454 0%, #2b2b2b 98%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, #545454 0%,#2b2b2b 98%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, #545454 0%,#2b2b2b 98%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#545454', endColorstr='#2b2b2b',GradientType=0 ); /* IE6-9 */
}

#room_info * {
    display: inline-block;
}

#room_info > div {
    padding: 0.2rem;
    line-height: 1rem;
}

#room_info .value {
    font-size: 1rem;
}

#room_info .name {
    vertical-align: top;
}

#win_chance_info .value {
    color: #5dbc13;
}

#guess_amount {
    font-size: 2.6rem;
    margin: 0.4rem 0;
}

#result_head img {
    height: 8rem;
    margin-top: 2rem;
}

#guess_result_amount {
    font-size: 2rem;
}

#guess_result_amount img {
    width: 1.6rem;
    position: relative;
    top: 0.2rem;
    margin-right: 0.2rem;
}

#result_indicator {
    margin-top: 0.6rem;
}

#result_info {
    height: 5.28rem;
}

.odometer-digit {
    transition: all 0.5s;
}

.odometer-inside .odometer-digit:first-child {
    display: none !important;
}