body {
    background: #000000;
    background-image: url("../images/background.png") no-repeat center center fixed;
    background-size: cover;
    height: 100vh;
    min-height: 100%;
    color: #fff;
    margin: 0;
}

h1 {
    margin: 0;
    padding: 0.8rem 0;
    color: #8e8d8d;
    font-weight: 400;
}

.text-center {
    text-align: center;
}

.text-right {
    text-align: right;
}

.text-left {
    text-align: left;
}

button, button:visited {
    background: #a98d3a;
    padding: 0.5rem 1.2rem;
    border: 0;
    border-radius: 5rem;
    color: #fff;
    font-weight: 600;
    transition: all 0.5s;
    cursor: pointer;
}

button:hover, button:active {
    background: #D0B460;
}

button.secondary, button.secondary:visited {
    background: #3b235e;
    transition: all 0.5s;
}

button.secondary:hover, button.secondary:active {
    background: #7d58b3;
}

button.go, button.go:visited {
    background: #00ba0e;
}

button.go:hover, button.go:active {
    background: #7eb982;
}

button.grouped {
    width: 12rem;
}

.text-button {
    background: none;
    font-weight: 500;
    padding: 0;
    color: #b173f0;
    cursor: pointer;
}

.text-button:hover {
    text-decoration: underline;
}

.row {
    padding-bottom: 1rem;
    width: 70%;
    margin: 0 auto;
}

input[type="text"], input[type="number"] {
    padding: 0.5rem;
    width: 11.9rem;
}

input[type="password"] {
    padding: 0.5rem;
    width: 11.9rem;
}

select {
    background: #fff;
    padding: 0.5rem;
    width: 13.1rem;
    margin-bottom: 1rem;
    border: 0;
}

.error {
    color: red;
    margin-bottom: 0.2rem;
    display: block;
}

.warning {
    color: #b173f0;
    margin-bottom: 0.2rem;
    display: block;
}

#profile {
    background: #fff;
    padding: 2rem 0;
}

.menu-btn {
    width: 2rem;
    margin: 0.8rem 3.2rem;
    display: inline-block;
    opacity: 0.4;
    cursor: pointer;
}

.menu-btn img {
    width: 100%;
}

.menu-btn:hover {
    opacity: 0.8;
}

.menu-btn.active {
    opacity: 0.8;
}

#footer-menu {
    border-top: solid 1px #6742a4;
    margin-top: 1.4rem;
}

#footer-menu .name {
    margin-top: 0.2rem;
    color: #fff;
}

.white-bg {
    background: #fff;
    position: absolute;
    top: 4.4rem;
    bottom: 0;
    left: -1px;
    width: 100%;
    background-image: url("../images/background_lottery.png");
}

.black-bg {
    background: #333;
    position: absolute;
    top: 4.4rem;
    bottom: 0;
    width: 100%;
    background-image: url("../images/background_lottery_black.png");
}

.black-bg h1 {
    color: #d2d2d2;
}

#back-div {
    position: absolute;
    left: 1.5rem;
    bottom: 1rem;
    cursor: pointer;
}

#back-div img {
    width: 2rem;
}

#ghavatar {
    width: 100px;
    cursor: pointer;
}

#export-submit-private, #login-submit-div, #import-submit-div, #guldfpr-div, #key-import-div, #ghavatar-div {
    display: none;
}

#header-menu {
    display: inline-block;
    border-bottom: 2px solid #fff;
    padding-bottom: 1rem;
    margin-bottom: 5rem;
}

#header-menu a {
    text-decoration: none;
    font-size: 1rem;
    color: #fff;
    width: 6rem;
    padding: 1.6rem;
    display: inline-block;
}

#header-menu a.active {
    color: #D0B460;
}

#header-menu a:hover {
    color: #D0B460;
}

#header-balance {
    height: 9rem;
}

#currency-tab {
    width: 100%;
    position: fixed;
    bottom: 4%;
    text-align: center;
}

#currency-tab a {
    display: inline-block;
    font-size: 1.4rem;
    color: #fff;
    text-decoration: none;
    margin: 1rem;
}

#currency-tab .active {
    font-size: 2rem;
    color: #D0B460;
/*    margin-left: 10.4rem;*/
}

#currency-tab.gg {
    margin-left: -3.4rem;
}

#currency-tab.gg #gg-tab {
    font-size: 2rem;
    color: #D0B460;
}

#logo {
    height: 6rem;
    position: relative;
    top: 2rem;
    margin-bottom: 1rem;
    margin-left: 5rem;
}

#balance, #gg-balance, #guld-balance {
    color: #D0B460;
    font-size: 3.4rem;
    font-weight: 100;
    padding-bottom: 0;
}

#usd-value, #total-usd-value {
    color: #727272;
    font-size: 2.4rem;
}

#fullname {
    color: #727272;
    font-size: 1.4rem;
    margin-top: 2rem;
    padding-bottom: 0;
}

#guldname {
    color: #D0B460;
    font-size: 1.4rem;
}

.col-form-label {
    margin-bottom: 1rem;
    display: block;
    font-size: 1rem;
    font-weight: 100;
    color: #828282;
}

.modal-footer .btn {
    margin-top: 1rem;
}

#logo-options {
    width: 3rem;
    margin-top: 1rem;
}

#options #logout {
    padding: 0;
}

#options #content {
    width: 19rem;
}

#logo-div {
    width: 29%;
    display: inline-block;
    text-align: left;
}

#balance-div {
    width: 70%;
    display: inline-block;
    text-align: right;
}

#top-balance {
    color: #D0B460;
    font-size: 2.4rem;
    font-weight: 100;
    padding-bottom: 0;
}

#top-usd-value {
    color: #727272;
    font-size: 1.8rem;
}

#logout {
    position: absolute;
    bottom: 2rem;
    right: 2rem;
    color: #9d9d9d;
    text-decoration: none;
    font-size: 1rem;
}

#settings {
    position: absolute;
    bottom: 1rem;
    left: 2rem;
    color: #9d9d9d;
    text-decoration: none;
    font-size: 1rem;
}

#settings img {
    width: 2rem;
}

#qrcode {
    text-align: center;
    display: inline-block;
}

#loading-div {
    position: fixed;
    background: rgba(0, 0, 0, 0.8);
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    text-align: center;
    padding-top: 32%;
    display: none;
}

.loading #loading-div {
    display: block;
}

#loading-message-div {
    display: inline-block;
    padding: 1rem 3rem;
    border-radius: 0.4rem;
}

#loading-message-div h3 {
    color: #727272;
}

.loader {
    border: 16px solid #323232; /* Light grey */
    border-top: 16px solid #3498db; /* Blue */
    border-radius: 50%;
    width: 120px;
    height: 120px;
    animation: spin 2s linear infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

@media only screen and (max-width: 600px) {
    #balance, #gg-balance, #guld-balance {
        font-size: 2rem;
    }

    #usd-value, #total-usd-value {
        font-size: 1.6rem;
    }

    #currency-tab {
        bottom: 6%;
    }

    #header-balance {
        height: 7rem;
        top: -1rem;
        position: relative;
    }

    #header-menu a {
        padding: 0.6rem;
        margin-top: 1rem;
    }

    #header-menu {
        margin-bottom: 2rem;
    }

    #logo {
        margin-left: 3rem;
    }

    #settings {
        bottom: 0.4rem;
        left: 0.4rem;
    }

    #logout {
        bottom: 0.8rem;
        right: 0.8rem;
    }
}